@import "theme";

.accordion {
  @include themify($themes) {
  background-color: themed('topNavColor');
  color: themed('acordianTextColor');
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px !important;
  transition: 0.4s;
  border: 2px solid themed('sideNavColor');
  display: flex;
  align-items: center;
  &:hover {
    background-color: themed('topNavHover');
  }
  &:after {
    content: '\002B';
    color: themed('buttonTextColor');
    font-weight: bold;
    float: right;
    margin: 0 0 0 auto;
  }

  &:active:after {
    content: "\2212";
    border-bottom: 2px solid themed('sideNavColor');
  }

  &__panel {
    background-color: themed('acordianDropDown');
    color: themed('acordianTextColor');
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 5px;
    &--content {
      padding: 20px 5px;
    }
  }
  &__input {
    width: 50%;
    margin: 20px 0;
    &--button {
    padding: 0px 30px;
    }
  }

  &__hr {
    margin: 0;
  }
  &__title {
  font-size: 15px;
  }
  }
}

