.dashboard {
	display: grid;
    align-items: normal;
    justify-content: normal;
    grid-template-rows: 1fr 1fr;
    height: 100%;

	&__section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
		&--section {
			grid-template-columns: 1fr;
		}
	}

	&__testWrap {
	overflow: scroll;
	height: -webkit-fill-available;
	}

	&__tests {
	display: flex;
    align-items: center;
    padding: 10px;

    &--title {
    	font-size: 1.1em;
    }

    &--link {
    	margin: 0 0 0 auto;
    	font-size: 1.4em;
    }
	}
}

@media only screen and (max-width: 990px) {
	.dashboard__section {
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	}

 }
