body {
  margin: 0;
  padding: 0;
  background: #F4FCFB;
}

.wrapper {
  height: auto;
  background: #F4FCFB;

  &__content {
    margin-left: 180px;
    padding: 65px 20px 20px 20px;
    background: #fefefe;
  }
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__image {
    padding: 20px;
  }

  &__button {
    margin: 20px;
    border: none;
    padding: 10px 20px;
    font-family: 'Roboto Mono', monospace;
    background-color: #09FFAD;
    font-size: 14px;
  }
}

.topbar {
  height: 65px;
  background: #09FFAD;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 1;

  &__icon {
    font-size: 24px;
    margin-left: 20px
  }

  &__title {
    font-size: 24px;
    margin: 0 20px 0 auto;
  }
}

.navbar {
  width: 180px;
  margin-top: 65px;
  height: auto;
  min-height: 100vh;
  background-color: #545756;
  position: fixed;

  &__logo {
    @include themify($themes) {
    display: flex;
    justify-content: center;
    fill: themed('sideNavColor');

    &--img {
      width: 60%;
      margin: 30px 0 0 0;
    }
}
  }

  &__rule {
    width: 90%;
    border: 1px solid #F4FCFB;
  }

  &__list {
    list-style: none;
    padding-left: 0;

    &--item {
      padding: 7px 0;
    }

    &--icon {
      color: #F4FCFB;
    }

    &--link {
      text-decoration: none;
      color: #F4FCFB;
    }

  }
}

.title {
  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}