@import "theme";

.success {
  @include themify($themes) {
    background: themed('buttonSuccessColor') !important;
    border: 3px solid themed('buttonBorderColor');
    color: themed('buttonTextColor');
    &:hover {
      background: themed('buttonDefaultColor') !important;
    }
    &__border {
      background-color: transparent;
      border: 2px solid themed('buttonBorderColor');
      &:focus {
        border: 2px solid themed('buttonBorderColor');
      }
    }
  }
}

.heading {
  @include themify($themes) {
    color: themed('topNavColor')
  }
}

.alert {
  @include themify($themes) {
    background: themed('buttonAlertColor') !important;
    border: 3px solid themed('buttonBorderColor');
    color: themed('buttonTextColor') !important;
    &:hover {
      background: themed('buttonAlertColor') !important;
    }
    &__border {
      background-color: transparent;
      border: 2px solid themed('buttonBorderColor');
      &:focus {
        border: 2px solid themed('buttonBorderColor');
      }
    }
  }
}

.danger {
  @include themify($themes) {
    background: themed('buttonDangerColor') !important;
    border: 3px solid themed('buttonBorderColor');
    color: themed('buttonTextColor');
    &:hover {
      background: themed('buttonBorderColor') !important;
    }
    &__border {
      background-color: transparent;
      border: 2px solid themed('buttonBorderColor');
      &:focus {
        border: 2px solid themed('buttonBorderColor');
      }
    }
  }
}

.default {
  @include themify($themes) {
    background: themed('buttonDefaultColor') !important;
    border: 3px solid themed('defaultHover');
    color: themed('buttonTextColor');
    &:hover {
      background: themed('buttonDefaultColor') !important;
    }
    &__border {
      background-color: transparent;
      border: 2px solid themed('buttonBorderColor');
      &:focus {
        border: 2px solid themed('buttonBorderColor');
      }
    }
  }
}

.beaker {
  @include themify($themes) {
    background: themed('buttonBeakerColor') !important;
    border: 3px solid themed('buttonBorderColor');
    color: themed('buttonTextColor');
    &:hover {
      background: themed('buttonBeakerColor') !important;
    }
    &__border {
      background-color: transparent;
      border: 2px solid themed('buttonBorderColor');
      &:focus {
        border: 2px solid themed('buttonBorderColor');
      }
    }
  }
}

.app-container {
  @include themify($themes) {
    background-color: themed('background');
  }
}

$breakpoint-laptop: 1080px;
$breakpoint-tablet: 820px;
$breakpoint-phone: 500px;
