//.milk-bottle {
//  width: 50%;
//  height: 50%;
//}
//
.progressbar {
  stroke:#545756;
  stroke-width:3px;
}
//
//.animatebar {
//  animation: fill 2s ease-in-out infinite;
//}
//
//@keyframes fill {
//  0% { fill: red; }
//  50% { fill: blue; }
//  100% { fill: green; }
//}

body {
}

svg {
  max-width: 8em;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

#rect {
  animation: slideOver 5s linear infinite;
}

@keyframes slideOver {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  75% {
    transform: translateX(0);
  }
}