body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
    background: #E4E5E4;
}

h1 {
  margin: 0;
}

.is-danger {
  border: 2px solid red;
}

.button {
  margin: 20px;
  border: none;
  padding: 10px 20px;
  font-family: "Roboto Mono", monospace;
  background-color: #F2F2F2;
  font-size: 14px;
  color: #212523;
}

.button__theme {
    margin: 10px;
    border: none;
    padding: 5px 10px;
    font-family: "Roboto Mono", monospace;
    background-color: #F2F2F2;
    font-size: 10px;
    color: #212523;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #E4E5E4;
}

.wrapper__content {
  margin-left: 180px;
  padding: 20px;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard__image {
  padding: 20px;
}

.dashboard__button {
  margin: 20px;
  border: none;
  padding: 10px 20px;
  font-family: "Roboto Mono", monospace;
  background-color: #F2F2F2;
  font-size: 14px;
}

.topbar {
  width: 100vw;
  height: 65px;
  background: #F2F2F2;
  display: flex;
  align-items: center;
}

.topbar__icon {
  font-size: 24px;
  margin-left: 20px;
}

.topbar__title {
  font-size: 24px;
  margin: 0 20px 0 auto;
}

.navbar {
  width: 180px;
  height: auto;
  background-color: #C9C9C9;
  position: absolute;
}

.navbar__logo {
  display: flex;
  justify-content: center;
}

.navbar__logo--img {
  width: 60%;
  margin: 30px 0 0 0;
}

.navbar__rule {
  width: 90%;
  border: 1px solid #212523;
}

.navbar__list {
  list-style: none;
  padding-left: 10px;
}

.navbar__list--item {
  padding: 20px 0;
}

.navbar__list--icon {
  color: #212523;
}

.navbar__list--link {
  text-decoration: none;
  color: #212523;
}

.input {
    width: 95%;
    height: 25px;
    border: 2px solid #F2F2F2;
    font-size: 18px;
    padding: 5px;
    margin: 0 auto;
}

.input__textbox {
    width: 95%;
    border: 2px solid #F2F2F2;
    font-size: 18px;
    padding: 5px;
    margin: 10px auto;
    height: 160px;
}

.task {
    border: 3px solid #F2F2F2;
    padding: 10px;
    margin: 10px 0;
    background: #fffdfd;
}

.task__inputWrap {
    display: flex;
    flex-direction: column;
}

.task__input {
    width: 95%;
    height: 25px;
    border: 2px solid #F2F2F2;
    font-size: 18px;
    padding: 5px;
    margin: 0 auto;
}

.task__button {
    margin: 20px 0;
    border: none;
    padding: 10px 20px;
    font-family: "Roboto Mono", monospace;
    background-color: #F2F2F2;
    font-size: 14px;
}

.form__wrap {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tests__wrap {
    border: 3px solid #F2F2F2;
    padding: 10px;
    margin: 10px 0;
    background: #fcfcfc;
}

.tests__name {
    margin: 5px 0;
}

.tests__desc {
    margin: 5px 0;
}

.login {
    margin: 20px 0;
}

